<div class="banner-mini">
  <picture>
    <img class="banner-mini__img" src="./images/banner/banner-mini.jpg" alt="" aria-hidden="true">
  </picture>
  <div class="banner-mini__wrapper">
    <h2 class="banner-mini__title">Оксфорд 1950</h2>
    <p class="descr banner-mini__descr">Новая коллекция изысканных кресел</p>
    <a href="#" class="to-catalog-link banner-mini__link">
      В каталог
      <svg width="21" height="21" viewbox="0 0 21 21">
        <use class="arrow-icon" xlink:href="../sprite.svg#arrow2"></use>
      </svg>
    </a>
  </div>
</div>