<div class="filter">
  <span class="descr filter__title">Фильтровать по:</span>
  <ul class="list-reset filter__sections">
    <li class="filter__section">
      <span class="descr filter__name">Цвет</span>
      <ul class="list-reset filter__list">
        <li class="filter__item">
          <input class="filter__input" id="filter__item-color-brown" name="filter__item-color-brown" type="checkbox">
          <label class="filter__label" for="filter__item-color-brown">Коричневый</label>
        </li>
        <li class="filter__item">
          <input class="filter__input" id="filter__item-color-black" name="filter__item-color-black" type="checkbox">
          <label class="filter__label" for="filter__item-color-black">Черный</label>
        </li>
        <li class="filter__item">
          <input class="filter__input" id="filter__item-color-blue" name="filter__item-color-blue" type="checkbox">
          <label class="filter__label" for="filter__item-color-blue">Синий</label>
        </li>
        <li class="filter__item">
          <input class="filter__input" id="filter__item-color-white" name="filter__item-color-white" type="checkbox">
          <label class="filter__label" for="filter__item-color-white">Белый</label>
        </li>
      </ul>
    </li>

    <li class="filter__section">
      <span class="descr filter__name">Категория</span>
      <ul class="list-reset filter__list">
        <li class="filter__item">
          <input class="filter__input" id="filter__item-category-sofas" name="filter__item-category-sofas"
            type="checkbox">
          <label class="filter__label" for="filter__item-category-sofas">Диваны</label>
        </li>
        <li class="filter__item">
          <input class="filter__input" id="filter__item-category-armchairs" name="filter__item-category-armchairs"
            type="checkbox">
          <label class="filter__label" for="filter__item-category-armchairs">Кресла</label>
        </li>
      </ul>
    </li>

    <li class="filter__section">
      <span class="descr filter__name">Цена</span>
      <ul class="list-reset filter__list filter__list_price">
        <li class="filter__item filter__item_price">
          <label class="filter__label" for="filter__item-price-from">от</label>
          <input class="filter__input" id="filter__item-price-from" name="filter__item-price-from" type="number">
        </li>
        <li class="filter__item filter__item_price">
          <label class="filter__label" for="filter__item-price-to">до</label>
          <input class="filter__input" id="filter__item-price-to" name="filter__item-price-to" type="number">
        </li>
      </ul>
    </li>
  </ul>
</div>