<section class="product-list section">
  <div class="container product-list__container">
    <h2 class="title product-list__title">@@title</h2>
    <ul class="list-reset product-list__group">
      <li>
        @@include('../cards/product-card.html', {
        "star": "5,0",
        "foto": "prod_sofa-R-94.png",
        "name": "Диван кожаный &#34;R&#8209;94&#34;",
        "link": "#",
        "price": "94 990"
        })
      </li>
      <li>
        @@include('../cards/product-card.html', {
        "star": "4,9",
        "foto": "prod_sofa-T-75.png",
        "name": "Диван апартековый &#34;T&#8209;75&#34;",
        "link": "#",
        "price": "69 990"
        })
      </li>
      <li>
        @@include('../cards/product-card.html', {
        "star": "4,8",
        "foto": "prod_sofa-D-31.png",
        "name": "Диван тканевый &#34;D&#8209;31&#34;",
        "link": "../d-31.html",
        "price": "28 490"
        })
      </li>
      <li>
        @@include('../cards/product-card.html', {
        "star": "4,8",
        "foto": "prod_sofa-Y-68.png",
        "name": "Диван велюровый &#34;Y&#8209;68&#34;",
        "link": "#",
        "price": "22 990"
        })
      </li>

      <li>
        @@include('../cards/product-card.html', {
        "star": "4,8",
        "foto": "prod_sofa-W-95.png",
        "name": "Диван из шинила &#34;W&#8209;95&#34;",
        "link": "#",
        "price": "22 990"
        })
      </li>
      <li>
        @@include('../cards/product-card.html', {
        "star": "4,8",
        "foto": "prod_sofa-G-41.png",
        "name": "Диван флоковый &#34;G&#8209;41&#34;",
        "link": "#",
        "price": "17 990"
        })
      </li>
      <li class="product-list__visible-main">
        @@include('../cards/product-card.html', {
        "star": "4,8",
        "foto": "prod_sofa-V-43.png",
        "name": "Диван шиниловый &#34;V&#8209;43&#34;",
        "link": "#",
        "price": "19 990"
        })
      </li>
      <li class="product-list__visible-main">
        @@include('../cards/product-card.html', {
        "star": "4,7",
        "foto": "prod_sofa-S-99.png",
        "name": "Диван велюровый &#34;S&#8209;99&#34;",
        "link": "#",
        "price": "19 990"
        })
      </li>
    </ul>
  </div>
</section>