// text
$text_white: #FFFFFF;
$text_violet: #A65CF0;
$text_grey: #999999;
$text_greyDark: #666666;
$text_black: #333333;
$text_violetDark: #7033AC;
$text_orange: #FF862F;
$text_orangeLight: #FFBD59;
$text_orangeLighter: #FFF5D1;
$text_orangetDark: #BB370E;
$text_gold: #D5B986;

// decor
$decor_white: #FFFFFF;
$decor_black: #333333;
$decor_grey: #F6F6F6;
$decor_greyLight: #EAEAEA;
$decor_greyDark: #999999;
$decor_greyDarker: #666666;
$decor_violetMain: #A65CF0;
$decor_violetLight: #C998FB;
$decor_violetLighter: #EBD1FF;
$decor_violetDark: #7033AC;
$decor_green: #B8EC64;

// background
$bckg_white: #FFFFFF;
$bckg_grey_lite: #F6F6F6;
$bckg_grey: #EAEAEA;
$bckg_grey_dark: #333333;
$bckg_orange: #FF862F;
$bckg_violetMain: #A65CF0;
$bckg_violetDark: #7033AC;
$bckg_violetLight: #F8EFFF;
