<section class="top section">
  <div class="container top__container">
    <h2 class="title top__title">Топ категории</h2>
    <ul class="top__group list-reset">
      <li class="top__item top__cat-sofa">
        @@include('../cards/category-card-big.html', {
        "tag-1": "Прямые",
        "tag-link-1": "#",
        "tag-2": "Угловые",
        "tag-link-2": "#",
        "tag-3": "Модульные",
        "name": "Диваны",
        "foto": "cat_sofa.png",
        "foto-1024": "cat_sofa.png",
        "foto-320": "cat_sofa-320.png"
        })
      </li>
      <li class="top__item top__cat-armchair">
        @@include('../cards/category-card.html', {
        "tag-1": "Мягкие",
        "tag-link-1": "#",
        "tag-2": "Кресла&#8209;кровати",
        "tag-link-2": "#",
        "name": "Кресла",
        "foto": "cat_armchair.png",
        "foto-1024": "cat_armchair-1024.png",
        "foto-320": "cat_armchair-320.png"
        })
      </li>
      <li class="top__item top__cat-bed">
        @@include('../cards/category-card.html', {
        "tag-1": "Односпальные",
        "tag-link-1": "#",
        "tag-2": "Двуспальные",
        "tag-link-2": "#",
        "name": "Кровати",
        "foto": "cat_bed.png",
        "foto-1024": "cat_bed-1024.png",
        "foto-320": "cat_bed-320.png"
        })
      </li>
      <li class="top__item top__cat-dresser">
        @@include('../cards/category-card.html', {
        "tag-1": "Тумбы",
        "tag-link-1": "#",
        "tag-2": "Комоды",
        "tag-link-2": "#",
        "name": "Тумбы и&nbsp;комоды",
        "foto": "cat_dresser.png",
        "foto-1024": "cat_dresser-1024.png",
        "foto-320": "cat_dresser-320.png"
        })
      </li>
      <li class="top__item top__cat-chair">
        @@include('../cards/category-card.html', {
        "tag-1": "Деревянные",
        "tag-link-1": "#",
        "tag-2": "Металлокаркас",
        "tag-link-2": "#",
        "name": "Стулья",
        "foto": "cat_chair.png",
        "foto-1024": "cat_chair-1024.png",
        "foto-320": "cat_chair-320.png"
        })
      </li>
    </ul>
  </div>
</section>