<section class="usefull section">
  <div class="container usefull__container">
    <h2 class="title usefull__title">Полезное</h2>
    <ul class="usefull__group list-reset">
      <li class="blog-card">
        @@include('../cards/blog-card.html', {
        "img": "usefull-1.jpg",
        "img-1024": "usefull-1-1024.jpg",
        "img-320": "usefull-1-1024.jpg",
        "text": "И&nbsp;нет сомнений, что сделанные на&nbsp;базе интернет-аналитикивыводы представляют собой нечто иное?"
        })
      </li>
      <li class="blog-card">
        @@include('../cards/blog-card.html', {
        "img": "usefull-2.jpg",
        "img-1024": "usefull-2-1024.jpg",
        "img-320": "usefull-2-1024.jpg",
        "text": "Как принято считать, некоторые особенности приносят несомненную пользу обществу?"
        })
      </li>
      <li class="blog-card blog-card_visible-1024-320">
        @@include('../cards/blog-card.html', {
        "img": "usefull-3-1024.jpg",
        "img-1024": "usefull-3-1024.jpg",
        "img-320": "usefull-3-1024.jpg",
        "text": "Как принято считать, некоторые особенности приносят несомненную пользу обществу?"
        })
      </li>
      <li class="blog-card blog-card_visible-320">
        @@include('../cards/blog-card.html', {
        "img": "usefull-4-320.jpg",
        "img-1024": "usefull-4-320.jpg",
        "img-320": "usefull-4-320.jpg",
        "text": "Прежде всего, консультация с&nbsp;широким активом однозначно фиксирует необходимость распределения?"
        })
      </li>
      <li class="blog-card blog-card_visible-320">
        @@include('../cards/blog-card.html', {
        "img": "usefull-5-320.jpg",
        "img-1024": "usefull-5-320.jpg",
        "img-320": "usefull-5-320.jpg",
        "text": "Как принято считать, некоторые особенности приносят несомненную пользу обществу?"
        })
      </li>
    </ul>
  </div>
</section>
