<article class="product-card">
  <span class="star-lable">@@star</span>
  <div class="product-card__wrapper">
    <div class="product-card__img">
      <img src="../images/product/@@foto" alt="@@name">
    </div>
    <div class="product-card__descr">
      <a class="card-focus" href="@@link">
        <h3 class="title cardtitle product-card__title">@@name</h3>
      </a>
      <span class="product-card__price">@@price руб</span>
      <button class="btn btn-reset product-card__btn">Купить</button>
    </div>
  </div>
</article>