<article class="special__card">
  <span class="special__lable">@@discount</span>
  <picture class="special__picture">
    <img class="special__img" src="../images/product/@@foto" alt="@@name">
  </picture>
  <div class="special__descr">
    <a class="card-focus" href="@@url">
      <h3 class="title cardtitle">@@name</h3>
    </a>
    <div class="special__discount">
      <span class="special__new-price">@@new-price</span>
      <span class="special__old-price">@@old-price</span>
    </div>
    <button class="btn btn-reset special__btn">Купить</button>
  </div>
</article>