<div class="footer section">
  <div class="footer__wrapper">
    <div class="container footer__container">
      <div class="footer__logo-section">
        <a class="footer__logo" href="#" tabindex="-1">
          <img class="footer__logo-img" src="./images/logo.svg" alt="Логотип SitDownPls">
        </a>
        <div class="footer__social-wrapper">
          <a href="#" class="footer__social" aria-label="Социальная сеть Одноклассники">
            <svg width="30" height="30" viewbox="0 0 30 30">
              <use xlink:href="../sprite.svg#social-ok"></use>
            </svg>
          </a>
          <a href="#" class="footer__social" aria-label="Социальная сеть Вконтакте">
            <svg width="30" height="30" viewbox="0 0 30 30">
              <use xlink:href="../sprite.svg#social-vk"></use>
            </svg>
          </a>
        </div>
      </div>
      <nav class="footer__nav">
        <ul class="list-reset footer__nav-list">
          <li class="footer__about-item">
            <h3 class="footer__nav-title">О&nbsp;нас</h3>
            <ul class="list-reset footer__sub-list">
              <li class="footer__nav-item"><a href="#" class="submenu-link footer__link">О&nbsp;компании</a></li>
              <li class="footer__nav-item"><a href="#" class="submenu-link footer__link">Блог</a></li>
            </ul>
          </li>
          <li class="footer__services-item">
            <h3 class="footer__nav-title">Услуги</h3>
            <ul class="list-reset footer__sub-list">
              <li class="footer__nav-item"><a href="#" class="submenu-link footer__link">Доставка</a></li>
              <li class="footer__nav-item"><a href="#" class="submenu-link footer__link">Рассрочка и&nbsp;кредит</a>
              </li>
              <li class="footer__nav-item"><a href="#" class="submenu-link footer__link">Сборка и&nbsp;установка</a>
              </li>
            </ul>
          </li>
          <li class="footer__contact-item">
            <h3 class="footer__nav-title">Связь с&nbsp;нами</h3>
            <ul class="list-reset footer__sub-list">
              <li class="footer__nav-item"><a href="#" class="submenu-link footer__link">Обратная связь</a></li>
              <li class="footer__nav-item"><a href="#" class="submenu-link footer__link">Контакты</a></li>
            </ul>
          </li>
          <li class="footer__partnership-item">
            <h3 class="footer__nav-title">Сотрудничество</h3>
            <ul class="list-reset footer__sub-list">
              <li class="footer__nav-item"><a href="./partnership.html"
                  class="submenu-link footer__link">Поставщикам</a></li>
              <li class="footer__nav-item"><a href="#" class="submenu-link footer__link">Оптовикам</a></li>
              <li class="footer__nav-item"><a href="#" class="submenu-link footer__link">Карьера</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <span class="footer__copyright">SDP<sup class="footer__reg">&reg;</sup> 2011-2021</span>
</div>