<div class="header__top">
  <div class="container header__top-first-block">
    <a class="header__phone header__phone_top-first" href="tel:+74958854547">
      <svg width="17" height="17" viewbox="0 0 17 17">
        <use xlink:href="../sprite.svg#phone"></use>
      </svg>
      +7 (495) 885-45-47
    </a>
  </div>
  <div class="header__top-second-block">
    <div class="container header__top-container">
      <a class="header__logo header__logo_second" href="../index.html"><img src="./images/logo.svg"
          alt="Логотип SitDownPls"></a>
      <a class="header__phone header__phone_top-second" href="tel:+74958854547">
        <svg width="17" height="17" viewbox="0 0 17 17">
          <use xlink:href="../sprite.svg#phone"></use>
        </svg>
        +7 (495) 885-45-47
      </a>
      <nav class="header__subnav" aria-label="Дополнительное меню">
        <ul class="header__submenu list-reset">
          <li class="header__submenu-item"><a class="submenu-link header__submenu-link" href="#">О&nbsp;компании</a>
          </li>
          <li class="header__submenu-item"><a class="submenu-link header__submenu-link" href="#">Гарантия и
              возврат</a>
          </li>
          <li class="header__submenu-item"><a class="submenu-link header__submenu-link" href="#">Корпоративным
              клиентам</a></li>
          <li class="header__submenu-item"><a class="submenu-link header__submenu-link" href="#">Дизайн-решение</a>
          </li>
        </ul>
      </nav>
      <div class="header__user header__user_top-second">
        <a class="header__login" href="#" aria-label="Личный кабинет">
          <svg width="26" height="28" viewbox="0 0 26 28">
            <use xlink:href="../sprite.svg#login"></use>
          </svg>
        </a>
        <a class="header__cart" href="#" aria-label="Корзина">
          <span class="header__cart-count">0</span>
          <svg width="30" height="28" viewbox="0 0 30 28">
            <use xlink:href="../sprite.svg#cart"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container header__container">
  <div class="header__wrapper">
    <div class="header__logo-wrapper">
      <a class="header__phone header__phone_bottom" href="tel:+74958854547">
        <svg width="17" height="17" viewbox="0 0 17 17">
          <use xlink:href="../sprite.svg#phone"></use>
        </svg>
        +7 (495) 885-45-47
      </a>
      <a class="header__logo" href="../index.html"><img src="./images/logo.svg" alt="Логотип SitDownPls"></a>
      <div class="header__user header__user_double">
        <a class="header__login" href="#" aria-label="Личный кабинет">
          <svg width="26" height="28" viewbox="0 0 26 28">
            <use xlink:href="../sprite.svg#login"></use>
          </svg>
        </a>
        <a class="header__cart" href="#" aria-label="Корзина">
          <span class="header__cart-count">0</span>
          <svg width="30" height="28" viewbox="0 0 30 28">
            <use xlink:href="../sprite.svg#cart"></use>
          </svg>
        </a>
      </div>
      <nav class="header__nav" aria-label="Главное меню">
        <ul class="header__menu list-reset">
          <li class="header__menu-item"><a class="menu-link header__menu-link" href="../catalog.html">Каталог</a></li>
          <li class="header__menu-item"><a class="menu-link header__menu-link" href="#">Магазины</a></li>
          <li class="header__menu-item"><a class="menu-link header__menu-link" href="#">Шоу-рум</a></li>
          <li class="header__menu-item"><a class="menu-link header__menu-link" href="#">Доставка и оплата</a></li>
          <li class="header__menu-item"><a class="menu-link header__menu-link" href="#">Дисконт</a></li>
          <li class="header__menu-item"><a class="menu-link header__menu-link" href="#">Контакты</a></li>
        </ul>
      </nav>
      <nav class="header__nav header__nav_320" aria-label="Главное меню">
        <ul class="header__menu list-reset">
          <li class="header__menu-item"><a class="menu-link header__menu-link" href="../catalog.html">Каталог</a></li>
          <li class="header__menu-item"><a class="menu-link header__menu-link" href="#">Магазины</a></li>
          <li class="header__menu-item"><a class="menu-link header__menu-link" href="#">Шоу-рум</a></li>
          <li class="header__menu-item"><a class="menu-link header__menu-link" href="#">Доставка и оплата</a></li>
          <li class="header__menu-item"><a class="menu-link header__menu-link" href="#">Дисконт</a></li>
          <li class="header__menu-item"><a class="menu-link header__menu-link" href="#">Контакты</a></li>
        </ul>
      </nav>

      <form class="header__search" action="https://jsonplaceholder.typicode.com/posts" method="POST">
        <input class="input-field header__input" type="search" name="search" placeholder="Я хочу купить..."
          aria-label="Поле поиска">
        <button aria-label="Кнопка поиска" class="arrow-icon header__arrow-icon" type="submit">
          <svg width="32" height="32" viewbox="0 0 32 32">
            <use xlink:href="../sprite.svg#arrow"></use>
          </svg>
        </button>
      </form>
      <div class="header__user header__user_bottom">
        <a class="header__login" href="#" aria-label="Личный кабинет">
          <svg width="26" height="28" viewbox="0 0 26 28">
            <use xlink:href="../sprite.svg#login"></use>
          </svg>
        </a>
        <a class="header__cart" href="#" aria-label="Корзина">
          <span class="header__cart-count">0</span>
          <svg width="30" height="28" viewbox="0 0 30 28">
            <use xlink:href="../sprite.svg#cart"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>