.top {
  padding-top: 70px;
  &__title {
    margin-bottom: 29px;
  }
  &__group {
    display: grid;
    grid-template-columns: repeat(6, minmax(88px, 186px));
    gap: 36px;
  }
  &__cat-sofa {
    grid-column: 1 / span 3;
  }
  &__cat-armchair {
    grid-column: 4 / span 3;
  }
  &__cat-bed {
    grid-column: 1 / span 2;
  }
  &__cat-dresser {
    grid-column: 3 / span 2;
  }
  &__cat-chair {
    grid-column: 5 / span 2;
  }
}

@media (max-width: 1024px) {
  .top {
    padding-bottom: 38px;
    &__group {
      gap: 33px;
    }
    &__cat-sofa {
      grid-column: 1 / span 4;
    }
    &__cat-bed {
      grid-column: 5 / span 2;
      grid-row: 1 / span 1;
      .category-card__img {
        max-width: calc(100% + 56px)
      }
    }
    &__cat-dresser {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
    }
    &__cat-armchair {
      grid-column: 3 / span 2;
      grid-row: 2 / span 1;
    }
    &__cat-chair {
      grid-column: 5 / span 2;
      grid-row: 2 / span 1;
    }
  }
}

@media (max-width: 768px) {
  .top {
    padding-bottom: 44px;
    &__group {
      grid-template-columns: repeat(2, minmax(88px, 333px));
      gap: 35px;
    }
    &__cat-sofa {
      grid-column: 1 / span 2;
    }
    &__cat-bed {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
    &__cat-armchair {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }
    &__cat-dresser {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
    &__cat-chair {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;

    }
  }
}

@media (max-width: 576px) {
  .top {
    padding-top: 35px;
    padding-bottom: 34px;
    &__container {
      padding-left: 12px;
      padding-right: 12px;
    }
    &__group {
      grid-template-columns: repeat(2, minmax(88px, .5fr));
    }
    &__title {
      margin-bottom: 23px;
      font-size: 24px;
    }
    &__group {
      row-gap: 33px;
      column-gap: 16px;
    }
  }
}
